 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* Cores estruturais */
  --cor-lightmode: #ffffff; /* Cor do cabecalho */
  --cor-main: #f4f4f4; /* Fundo principal */
  --cor-layout-base: #14679D; /* Cor do menu e rodape */
  --cor-darkmode: #121212; /*Cor escura aplicada ao ativar o Modo Escuro/Dark*/
  /* Cores de destaque */
  --cor-fundo-destaque: #eeeeee; /* Fundo para seçoes em destaque */
  --cor-primaria: #028dcf; /* Cor principal da identidade visual */
  --cor-secundaria: #21A859; /* Cor secundaria (ex: botoes) */
  /* Cores de fontes */
  --cor-texto-claro: #ffffff; /* Texto em fundo escuro */
  --cor-texto-escuro: #3c3c3c; /* Texto em fundo claro */
  --cor-subtitulo-primario: #14679D; /* Cor padrao para textos */
  --cor-subtitulo-secundario: #21A859; /* Para descricoes, subtitulos */
  /* Cores de hover */
  --cor-texto-titulo-navegacao-menu: #AAD400; /*Texto com hover no menu para indicar que ele é clicavel*/
}


body {
  font-size: 16px;
  transition: font-size 0.3s ease-in-out;
  background-color: var(--cor-texto-claro);
  color: var(--cor-texto-escuro);
  transition: background 0.3s ease, color 0.3s ease;
}

/*CURSOR*/

button, a {
  cursor: url('../img/cursor-pata.svg'), auto;
}

/*CONFIGURACAO PRINCIPAL*/
main {
  position: relative;
  min-height: 100vh;
  background-color: var(--cor-main);
  padding-top: 1rem;
}

/*TOPO*/
header {
  background-color: var(--cor-lightmode); /* Adiciona um fundo suave */
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img-header {
  max-height: 100px;
  width: auto;
}

/*TITULOS*/
h1 {
  text-transform: uppercase;
  color: var(--cor-primaria) !important;
  font-weight: 600;
  font-size: 2rem;
  justify-content: center;
  display: flex;

}
h2 {
  text-transform: uppercase;
  color: var(--cor-primaria) !important;
  font-weight: 600;
  font-size: 2rem;
  justify-content: center;
  display: flex;

}

/*BOTOES*/

.btn.botao-avancar {
  background-color:var(--cor-layout-base) !important;
  font-weight: 600;
  padding: 0.8rem;
  border: none;
}

.botao-avancar:hover {
  background-color: var(--cor-secundaria) !important;

}

a.botao-lista {
  background-color: var(--cor-primaria);
  padding: 1rem;
  margin: 2rem;
  border: none;
  font-size: 1rem;
  display: flex;
  justify-content: end;
  align-items: end;

}

a.botao-lista:hover {
  background-color: var(--cor-secundaria);

}

form { 
  padding: 1rem;
}

/*RODAPE*/
footer.container-fluid {
  background-color: var(--cor-layout-base);
}

.container-footer {
  text-align: center;
  color: #fff;
  background-color: var(--cor-layout-base);
  padding: 0.4rem;
  font-size: 1rem;
}


.link-portal-footer:hover {
  font-weight: bold;
  text-shadow: 1px 1px 1px #363636;
  color: #AAD400;
}


/*__________________________RESPONSIVIDADE*/
/* MOBILE - SMALL/PEQUENO */
@media screen and (max-width: 640px) {

  .rodape {
      font-size: 0.8rem;
  }
}